body{
	background-image: url('../img/bash.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	color: #17CCB4;
	font-family: "Courier", sans-serif;
	font-weight: bold;
	display: flex;
	flex-direction: column;
	align-items: center;
}
nav{
	margin-top: 2%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}
.navlink{
display: flex;
flex-direction: column;
align-items: center;
margin: 5px;

}
.special{
	color: white;
}
main{
	width: 60%;
	background-color: rgba(15, 36, 77, 0.9);
	border-radius: 20px;
	padding: 3%;
}
footer{
	margin: 4% 0% 2% 0%;
}
a{
	border-bottom: 3px solid #081329;
	text-decoration: none;
}
a:visited{
	color: white;
}
a:hover{
	border-bottom: 3px solid grey;
	transition: .5s;
	color: grey;
}
